[submodule "Book-Hunter-Config-Server"]
	path = Book-Hunter-Config-Server
	url = https://github.com/lauravz98/Book-Hunter-Config-Server.git
[submodule "Eureka-Server"]
	path = Eureka-Server
	url = https://github.com/lauravz98/Eureka-Server.git
[submodule "Book-Hunter-Config-repo"]
	path = Book-Hunter-Config-repo
	url = https://github.com/lauravz98/Book-Hunter-Config-repo.git
[submodule "Book-Hunter-Back-Proxy-Reviews"]
	path = Book-Hunter-Back-Proxy-Reviews
	url = https://github.com/lauravz98/Book-Hunter-Back-Proxy-Reviews.git
[submodule "Book-Hunter-Back-Proxy-Books"]
	path = Book-Hunter-Back-Proxy-Books
	url = https://github.com/lauravz98/Book-Hunter-Back-Proxy-Books.git
[submodule "Book-Hunter-Proxy-Keywords-Service"]
	path = Book-Hunter-Proxy-Keywords-Service
	url = https://github.com/lauravz98/Book-Hunter-Proxy-Keywords-Service.git
[submodule "Book-Hunter-Back-Edge"]
	path = Book-Hunter-Back-Edge
	url = https://github.com/lauravz98/Book-Hunter-Back-Edge.git
[submodule "Book-Hunter-Front"]
	path = Book-Hunter-Front
	url = https://github.com/lauravz98/Book-Hunter-Front.git
[submodule "Book-Hunter-Back-Proxy-Keywords"]
	path = Book-Hunter-Back-Proxy-Keywords
	url = https://github.com/lauravz98/Book-Hunter-Back-Proxy-Keywords.git
